
body {
    background-color: #F0FFFF;
    font-family: 'Montserrat', sans-serif;
}

.myLabel{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:1.2rem;
}

.navbar-inverse {
    background-color: #7C238C;
    padding: 12px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f3f78c;
}

.navbar-inverse .navbar-brand {
    color: #f3f78c;
}

.active{
    background-color: #7C238C;
}

.adminBG{
    background-color: #fef3c5;
}

.mainBGImage {
    background: url(../img/turntable2new.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.browseBG {
    background: url(../img/tySegalltintBG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.appHeaders {
    margin-top: 22vh;
}
.flexBandCont {
    display: flex;
}
.flexBand {
    background-color: #fff;
    color: #3C7070;
    width: 30%;
    border: 1px solid #fff;
    box-shadow: 3px 7px 15px #888888;
    padding: 10px;
    margin: 16px;
}
.inlineButz {
    display: inline;
    width: 100px;
}
.buttonDivs {
    width: 50vw;
    margin 4vh 38vw 0;
}
.customButn{
    background-color: #305A5A;
    color: #fff;
}
.albumThum {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}
/* FONTS */

.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.openSans {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.montCaps {
    text-transform: uppercase;
    text-size: 2rem;
}
.openCaps {
    text-transform: uppercase;
    text-size: 3.4rem;
    background-color: #305A5A;
    color: #fff;
    padding 8px;
}
.avatar{
    width:30%;
    border-radius: 50% 50%;
}

