
<!doctype html>
<html>
  <head>
    <title>iChoons | Browse</title>
      <link href ="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet"/>
      <link href ="{{ url_for('static', filename ='css/custom.css') }}" rel="stylesheet"/>
  </head>

  <body>
    {% include 'navigation.html' %}
    <div class="container">
      <h1 class="text-center appHeadersMain">Browse our music catalog</h1>
    </div>
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form method="post" action="{{ url_for('genre') }}">
            <div class="form-group">
              <label for="genre">Choose from Rock, Indie or Popular</label>
              <input type="text" class="form-control" name="my_genre"
              placeholder="Type your genre here">
            </div> <!-- end form group -->
            <div class="form-group"> <!-- button container-->
              <button type="submit" class="btn-block btn btn-submit">Submit</button>
            </div> <!-- end button cont -->
          </form>
        </div> <!-- end cols -->
      </div> <!-- end row -->.run(host='0.0.0.0', debug=True)
