
<!doctype html>
<html>
  <head>
    <title>iChoons | Browse</title>
    {% include 'head.html' %}
  </head>

  <body class="browseBG">
    {% include 'navigation.html' %}
    <div class="container">
      <h1 class="text-center appHeaders">Browse our music catalog</h1>
    </div>
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="openSans">Fancy grabbing some vinyl bargains? We've got a range of classic
          LPs on offer in stores and online, enter a search term below to find
          our range of vinyl!</p>
          <form method="post" action="{{ url_for('genre') }}">
            <div class="form-group">
              <label for="genre">Choose from Rock, Indie or Popular</label>
              <input type="text" class="form-control" name="my_genre"
              placeholder="Type your genre here">
            </div> <!-- end form group -->
            <div class="form-group"> <!-- button container-->
              <button type="submit" class="btn btn-primary customButn">Submit</button>
            </div> <!-- end button cont -->
          </form>
          {% if error %}
          <div class="alert alert-danger" role="alert"><p><a href="{{
          url_for('browse') }}">{{ error }}</a></p></div>
          {% endif %}
        </div> <!-- end cols -->
      </div> <!-- end row -->
