<!doctype html>
<html>
  <head>
    <title>iChoons | Uploaded!</title>
    {% include 'head.html' %}
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Your image uploaded!!!</h1>
    </div>
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p><a class="btn btn-default" href="{{ url_for('upload') }}">Upload another file?</a></p>
          <p><a href="{{ url_for('home') }}">Go home</a></p>
        </div> <!-- end cols -->
      </div> <!-- end row -->
    </div> <!-- end form cont -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>  
