<!doctype html>
<html>
  <head>
    <title>Music Catalog | Upload</title>
      <link href ="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet"/>
      <link href ="{{ url_for('static', filename ='css/custom.css') }}" rel="stylesheet"/>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Upload an Image</h1>
    </div>
    <!-- start of form container-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form method="post" action="" name="form" enctype="multipart/form-data">
            <div class="form-group">
              <label for="genre">Upoad File</label>
              <input type="file" class="form-control" name="datafile">
            </div> <!-- end form group -->
            <div class="col-md-6 col-md-offset-4"> <!-- button container-->
              <button type="submit" class="btn-block btn btn-submit">Submit</button>
            </div> <!-- end button cont --> 
          </form>
        </div> <!-- end cols -->
      </div> <!-- end row -->
      <p><a href="{{ url_for('home') }}">Go home</a></p>
    </div> <!-- end form cont -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>  
