<!doctype html>
<html>
  <head>
    <title>iChoons | Admin Home</title>
      <link href ="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet"/>
      <link href ="{{ url_for('static', filename ='css/custom.css') }}" rel="stylesheet"/>
  </head>

  <body>
    {% include 'navigation.html' %}
    <!-- start of main container-->
    <div class="container mainConts">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center appHeaders">Welcome to Admin central, {{ username }}</h1>
          <div class="buttonDivs center-block">
          <a href="{{
          url_for('upload') }}" class="btn btn-default inlineButz">Click to Upload an image</a>
          <a href="{{ url_for('logout') }}"
       class="btn btn-danger inlineButz">Log out?</a>
          </div>
        </div> <!-- end cols -->
      </div> <!-- end row -->
    </div> <!-- end form cont -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>  
