<!doctype html>
<html>
  <head>
    <title>iChoons | Admin Home</title>
    {% include 'head.html' %}
  </head>

  <body>
    {% include 'navigation.html' %}
    <!-- start of main container-->
    <div class="container mainConts">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center appHeaders">Welcome to Admin central, {{ username }}</h1>
           <img src="{{ url_for('static', filename='img/avatar.png')
           }}"class="avatar center-block"> 
           <div class="buttonDivs center-block"> <!-- button container-->
              <a href="{{ url_for('upload') }}" class="btn btn-primary customButn inlineButz">Click to Upload an image</a>
              <a class="btn btn-danger inlineButz" href="{{ url_for('logout') }}">Logout</a>
            </div> <!-- end button cont -->
        </div> <!-- end cols -->
      </div> <!-- end row -->
    </div> <!-- end form cont -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>  
